/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* utilities */

.flex {
    display: flex;
}

.container {
    width: 40%;
}

.grow {
    flex-grow: 1;
    height: 100px;
}

.col {
    width: calc(100% / 3 - 40px /3);
    height: 600px;
}

.row {
    height: 200px;
    width: 100%;
}

/* header */

.header {
    background-color: aqua;
    justify-content: space-between;
    /* debug */
    height: 100px;
}

.header-content {
    background-color: red;
    width: 40%;
}

/* main */

/** hero */

.hero {
    background-color: blueviolet;
    /* debug */
    height: 400px;
    align-items: end;
}

.hero-content {
    background-color: burlywood;
    /* debug */
    height: 400px;
    width: 50%;
    margin: 0 auto;
}

.upper-hero {
    /* debug */
    border: 1px solid black;
    height: 100px;
}

.lower-hero {
    /* debug */
    border: 1px solid black;
    height: 300px;
}

.big-hero {
    width: 70%;
    /* debug */
    border: 1px solid black;
    height: 300px;
}

.small-hero {
    width: 30%;
    /* debug */
    border: 1px solid black;
    height: 300px;
}

/* main central section */

.main-central-section {
    /* debug */
    margin: 50px auto;
    border: 1px solid black;
    min-height: 1500px;
}

.business-plan {
    /* debug */
    background-color: blue;
    height: 150px;
}

/** main content card section */

.card-row {
    flex-wrap: wrap;
    gap: 20px;
    /* debug */
    min-height: 850px;
    margin: 50px 0;
    border: 1px solid black;
}

.card {
    /* debug */
    background-color: chartreuse;
}

/** main content image section */

.image-section {
    /* debug */
    min-height: 400px;
    border: 1px solid black;
    margin-bottom: 50px;
}

.image-part{
    width: 60%;
    /* debug */
    background-color: crimson;
    min-height: 400px;
}

.text-part {
    width: 40%;
    /* /debug */
    background-color: cyan;
    min-height: 400px;
}

/** main content operations section */

.operations-section {
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    /* debug */
    border: 1px solid black;
    min-height: 800px;
}

.info {
    /* debug */
    background-color: gray;
    height: 400px;
}

/* main logo section */

.logo-section {
    /* debug */
    border: 1px solid black;
    height: 600px;
}

/* upper logo */

.upper-logo-section {
    height: 70%;
    /* debug */
    border: 1px solid black;
}

.logo-left {
    width: calc(100% / 3);
    /* debug */
    background-color: brown;
}

.logo-middle {
    width: calc(100% / 3);
    /* debug */
    background-color: blanchedalmond;
}

.logo-right {
    width: calc(100% / 3);
    /* debug */
    background-color: brown;
}

/* lower logo */

.lower-logo-section {
    height: 30%;
    justify-content: center;
    /* debug */
    background-color: cadetblue;
    border: 1px solid black;
}

.lower-middle {
    width: 50%;
    /* debug */
    border: 1px solid black;
}

.lower-big {
    border: 1px solid black;
    width: 60%;
    height: 100%;
}

.lower-small {
    border: 1px solid black;
    width: 40%;
    height: 100%;
}